* {
  margin: 0;
  padding: 0;
}
.df {
  display: flex;
}
.dfsb{
  display: flex;
  justify-content: space-between;
}
.aic {
  display: flex;
  align-items: center;
}
.dfcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tc {
  text-align: center;
}

:where(.css-dev-only-do-not-override-1ugq3w3).ant-input:focus{
  box-shadow: none;
}